@import '../../variables.scss';

.about {
  line-height: 1.7;
  margin: 0px auto;
  max-width: 800px;
  padding: 0 40px;

  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .info-section {
    display: flex;
    gap: 25px;

    .info {
      p {
        a {
          text-decoration: none;
          color: $light-blue;
          font-weight: 700;
        }
      }
    }

    .avatar {
      padding-top: 1em;

      img {
        height: 100%;
        max-width: 300px;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }

  .resume {
    padding-bottom: 15px;

    .card-link {
      margin-left: 0px;
    }
  }

  .nav-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 980px;
    justify-items: center;
    gap: 30px;
  }
}

@media (max-width: 499px) {
  .nav-cards {
    grid-template-columns: 1fr !important;
  }

  .resume {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .avatar {
    display: none;
  }
}
