@import '../../../variables.scss';

.accordian {
  width: 100%;
  background-color: $second-background;
  border-radius: 5px;

  div:last-child {
    border-bottom: none;
  }
}

@media (max-width: 499px) {
  .card {
    .title {
      justify-content: center;
      text-align: center;
    }
  }
}
