@import '../../../../variables.scss';

.card-link {
  background-color: transparent;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 5px;
  border-radius: 2em;
  border: 2px solid $gray;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: $gray;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s;
}

a.card-link:hover {
  transform: scale(1.07);
  border: 2px solid $blue;
  color: $blue;
}

@media all and (max-width: 30em) {
  a.button {
    display: block;
    margin: 0.2em auto;
  }
}
