@import '../../variables.scss';

.logo {
  svg,
  i {
    opacity: 50%;
    transition: ease-in-out all 0.4s;
    height: 100%;
    width: auto;

    &:hover {
      opacity: 100%;
    }

    g {
      height: 100%;
      width: 100%;
    }
  }

  i {
    font-size: 80px;
    color: $github-black;
  }
}
