@import '../../variables.scss';

.logo {
  svg,
  img,
  i {
    opacity: 0.5;
    transition: ease-in all 0.4s;
    height: 100%;
    width: auto;

    &:hover {
      opacity: 1;
    }

    g {
      height: 100%;
      width: 100%;
    }
  }

  &.github-logo {
    font-size: 80px;
    color: $github-black;
  }

  &.nihongo-logo {
    img {
      height: 80px;
      width: 100%;
    }
  }

  &.about-logo,
  &.book-logo,
  &.chess-logo {
    font-size: 80px;
    width: 100%;
    text-align: center;

    i {
      width: 100%;
    }
  }

  &.chess-logo {
    color: $green;
  }

  &.book-logo {
    color: $orange;
  }

  &.about-logo {
    color: $blue;
  }
}

.disabled {
  pointer-events: none;
}
