.carousel {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-areas:
    'scroll-left content scroll-right'
    'pagination pagination pagination';
  justify-items: center;

  .scroll-left {
    grid-area: scroll-left;
    align-self: center;
  }

  .scroll-right {
    grid-area: scroll-right;
    align-self: center;
  }

  .scroll-left,
  .scroll-right,
  .pagination {
    i {
      cursor: pointer;
      font-size: 25px;
      margin: 5px;
    }
  }

  .content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;

    .content {
      display: flex;
      transition: all 250ms linear;
    }

    .content > * {
      width: 50%;
      flex-shrink: 0;
      flex-grow: 1;
    }
  }

  .pagination {
    grid-area: pagination;
  }
}

@media (max-width: 500px) {
  .content {
    width: 100%;
  }
}
