@import '../../../../variables.scss';

.nav-item {
  position: relative;
  display: inline-block;
  margin: 5px;
  text-decoration: none;
  color: $gray;
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: black;
    transition: 300ms;
  }

  &#title {
    padding: 0 15px;
    font-size: 20px;
  }
}
