.sidedrawer {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #145da0;
  z-index: 100;
  position: fixed;

  .container {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .nav-items {
      flex-grow: 1;
    }

    .links {
      padding-bottom: 35px;
    }
  }

  #pages {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
  }

  i {
    font-size: 25px;
    padding: 25px;
    color: white;
    font-size: 35px;
    align-self: flex-end;
  }
}
