@import '../../../variables.scss';

header {
  top: 0;
  left: 0;

  nav {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding-top: 3rem;

    i {
      font-size: 25px;
      color: white;
      cursor: pointer;
    }

    #side-drawer {
      padding: 15px;
      color: $gray;
    }

    .nav-items {
      flex-grow: 1;

      .nav-item.active {
        color: #000;
      }
      .nav-item:hover::after,
      .nav-item.active::after {
        color: #000;
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  nav {
    #pages,
    .links {
      display: none;
    }

    #title {
      flex-grow: 1;
    }
  }
}

@media (min-width: 800px) {
  nav {
    flex-direction: row;
  }

  #side-drawer {
    display: none;
    visibility: hidden;
  }
}
