.link {
  padding: 15px;
  font-size: 75px;
  text-decoration: none;

  div {
    font-size: 15px;
    text-align: center;
  }

  .fa-github-square {
    color: #211f1f;
  }

  .fa-linkedin {
    color: #2867b2;
  }

  .fa-at {
    color: #333;
  }
}
