@import '../../../variables.scss';

.card {
  padding: 15px;
  background-color: $second-background;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .text-color-gray {
    color: $gray;
  }

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $blue;
    font-weight: 800;
    padding-bottom: 5px;

    h2 {
      flex-grow: 1;
      margin: 0;
    }
  }

  .media {
    text-align: center;
    height: 80px;
    padding: 1rem;
  }

  .body {
    .description {
      text-align: initial;
      margin-left: auto;
      margin-right: auto;
      width: 80%;

      a {
        text-decoration: none;
        color: $blue;
        font-weight: 700;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          text-indent: -10px;
        }

        li::before {
          content: '- ';
        }
      }
    }

    .skill-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0;
      justify-content: center;
    }
  }
}

@media (max-width: 499px) {
  .card {
    .title {
      justify-content: center;
      text-align: center;
    }

    .job-description {
      width: 100%;
    }
  }
}
