.card {
  width: 50%;
  min-width: 250px;
  max-width: 500px;
  padding: 15px;
  margin: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  text-align: center;

  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #145da0;

    h2 {
      flex-grow: 1;
      margin: 0;
    }
  }

  .media {
    text-align: center;
    height: 80px;
    cursor: pointer;
  }

  .body {
    line-height: 1.7;
    padding: 0 15px;
  }
}

@media (max-width: 499px) {
  .card {
    .title {
      justify-content: center;
      text-align: center;
    }
  }
}
