@import '@fortawesome/fontawesome-free/css/all.css';
@import './variables.scss';

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: Barlow, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .bolded-link {
    text-decoration: none;
    color: $blue;
    font-weight: 700;
  }

  .text-color-gray {
    color: $gray;
  }
}
