$white: #fff;
$foreground: #5b6168;
$text: #292d31;
$selection-background: #3a66d150;
$buttons: #edf1f5;
$second-background: #f3f3f3;
$contrast: #fafbfc;
$active: #cce5ff;
$border: #dfe1e4;
$highlight: #cce5ff;
$tree: #3a66d1;
$notifications: #dfecfe;
$accent-color: #79cb60;
$excluded-files-color: #dcdcdc;
$green: #769656;
$blue: #005cc5;
$red: #d73a49;
$msu-red: #5e0009;
$purple: #6f42c1;
$orange: #e36209;
$cyan: #032f62;
$light-gray: #9ba0a3;
$gray: #6a737d;
$github-black: #211f1f;
$white-black: #24292e;
$error: #d25252;
