.education {
  display: flex;
  flex-direction: column;
  align-items: center;

  .school-logo-container {
    height: 100px;
  }
}

@media (max-width: 600px) {
  .school-logo-container {
    height: 50px !important;
  }
}
