.education {
  display: flex;
  flex-direction: column;
  align-items: center;

  .school-logo-container {
    height: 100px;
  }

  .classes {
    margin-top: 15px;
    display: flex;
  }
}

@media (max-width: 600px) {
  .school-logo-container {
    height: 50px !important;
  }

  .courses {
    grid-template-columns: 1fr;
  }
}
